div {
    height: 200px;
    width: 200px;
border: solid 2px black;
padding: 20px;

}

.Cube1 {
    background-image: linear-gradient(to left bottom , red , green , blue);
}

.Cube2 {

    background-image: linear-gradient(-70deg , yellow , purple 25% );
}
.Cube3 {

background-image : linear-gradient(to top,rgba(255, 255, 255, 0.945 ),rgba(255,255,255,0));

}